@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  min-width: 300px;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  margin: 0 24px 0 24px;
}

.navigation {
  background-color: white;
  padding: 1rem 5px 0 12px;
  width: 100%;
  display: flex;
  font-size: 18px;
  justify-content: space-evenly;
}

.toggle {
  padding-right: 24px;
  margin: -8px 6px 0 -70px;
}

.menu {
  border: none;
  color: #6070ff;
}

a {
  text-decoration: none;
  font-style: normal;
  font-family: 'poppins', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #6070ff;
}

a:hover {
  color: green;
}

.first-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-right: 24px;
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-image: url("./images/header-shapes-mobile@2x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-inline: 1rem;
  padding-top: 128px;
}

.section2 h1 {
  font-weight: bold;
  font-size: 40px;
  width: 100%;
  color: #172b4d;
  line-height: 52px;
}

.first-paragraph {
  font-size: 16px;
  font-weight: normal;
  margin-top: 15px;
  color: #344563;
  display: block;
  line-height: 24px;
  inline-size: 20rem;
  overflow-wrap: break-word;
}

p.second-paragraph {
  font-size: 16px;
  margin-top: 15px;
  width: 100%;
  color: #7f8cff;
}

.social-media {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  list-style: none;
  /* margin-left: 21px; */
}

.social-media img {
  height: 15px;
  width: 15px;
}

li {
  margin: 15px;
  margin-left: 0;
}

/* Grid container */

.grid-position {
  display: flex;
  justify-content: center;
  margin-top: 114px;
}

.Grid-container {
  display: grid;
  width: 375px;
  height: 100%;
  grid-template-columns: auto;
  background: #e5e5e5;
  row-gap: 114px;
}

/* First part */

.second-section {
  display: block;
  margin-inline: 24px;
  margin-top: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  padding-inline: 16px;
  width: 327px;
  height: 552px;
}

.second-section img {
  width: 295px;
  height: 220px;
  margin-top: 16px;
}

.second-section h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  margin-top: 12px;
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
}

.to-do {
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
}

.to-do-para {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 20px;
}

span.can {
  font-size: 13px;
  font-weight: 600;
  font-family: 'poppins', sans-serif;
  color: #344563;
}

.img {
  margin-top: -5px;
}

.back {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
}

.to-do img {
  width: 8px;
  height: 8px;
  margin: 8px 12px 0 12px;
}

.num {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
}

.works {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin-top: 16px;
  align-items: center;
  width: 203px;
  height: 24px;
  top: 180px;
}

.jv {
  width: 89px;
  height: 24px;
  left: 114px;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
}

.word0 {
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  left: 12px;
  top: 4px;
}

.css {
  color: #6070ff;
  align-items: center;
  width: 45px;
  margin-right: 8px;
}

.word21 {
  background: #ebebff;
  font-family: 'Poppins', sans-serif;
  height: 24px;
  left: 61px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 4px 12px;
  letter-spacing: 0.03em;
  border-radius: 8px;
}

.html {
  width: 53px;
  height: 24px;
  padding: 4px 12px;
  background: #ebebff;
  margin-right: 8px;
  border-radius: 8px;
}

.word319 {
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.click {
  border: 1px solid #6070ff;
  color: #fff;
  border-radius: 5px;
  font-family: 'poppins', sans-serif;
  font-size: 20px;
  margin-top: 18px;
  max-width: 45%;
  text-align: center;
}

button {
  font-weight: 500;
  letter-spacing: 0.03rem;
  margin: 12px 0 12px 0;
  background-color: #fff;
  border: 1px;
  color: #6070ff;
  font-size: 17px;
}

/* Second part */

.second-section2 {
  display: block;
  margin-inline: 24px;
  margin-top: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  padding-inline: 16px;
  width: 327px;
  height: 596px;
}

.second-section2 img {
  width: 295px;
  height: 220px;
  margin-top: 16px;
}

.second-section2 h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  margin-top: 12px;
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
}

.to-do2 {
  margin: 20px 0 0 0;
  display: flex;
}

.to-do-para2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 20px;
}

span.can2 {
  font-size: 13px;
  font-weight: 600;
  font-family: 'poppins', sans-serif;
  color: #344563;
}

.back2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
}

.to-do2 img {
  width: 8px;
  height: 8px;
  margin: 8px 12px 0 12px;
}

.num2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
}

.works2 {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin-top: 16px;
  align-items: center;
  width: 203px;
  height: 24px;
  top: 180px;
}

.jv2 {
  width: 89px;
  height: 24px;
  left: 114px;
  background: #ebebff;
  border-radius: 8px;
}

.word219 {
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  left: 12px;
  top: 4px;
  padding: 3px 0 0 15px;
}

.css2 {
  color: #6070ff;
  align-items: center;
  width: 45px;
  margin-right: 8px;
}

.word2 {
  background: #ebebff;
  font-family: 'Poppins', sans-serif;
  height: 24px;
  left: 61px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 4px 12px;
  letter-spacing: 0.03em;
  border-radius: 8px;
}

.html2 {
  width: 53px;
  height: 24px;
  padding: 4px 12px;
  background: #ebebff;
  margin-right: 8px;
  border-radius: 8px;
}

.word4 {
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.click2 {
  border: 1px solid #6070ff;
  color: white;
  border-radius: 5px;
  font-family: 'poppins', sans-serif;
  font-size: 20px;
  margin-top: 18px;
  max-width: 45%;
  text-align: center;
}

/* This is the third part */

.second-section3 {
  display: block;
  margin-inline: 24px;
  margin-top: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  padding-inline: 16px;
  width: 327px;
  height: 596px;
}

.second-section3 img {
  width: 295px;
  height: 220px;
  margin-top: 16px;
}

.second-section3 h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  margin-top: 12px;
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
}

.to-do3 {
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
}

.to-do-para3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 20px;
}

span.can3 {
  font-size: 13px;
  font-weight: 600;
  font-family: 'poppins', sans-serif;
  color: #344563;
}

.back3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
}

.to-do3 img {
  width: 8px;
  height: 8px;
  margin: 8px 12px 0 12px;
}

.num3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #7A869A;
}

.works3 {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin-top: 16px;
  align-items: center;
  width: 203px;
  height: 24px;
  top: 180px;
}

.jv3 {
  width: 89px;
  height: 24px;
  left: 114px;
  background: #ebebff;
  border-radius: 8px;
  padding: 3px 0 0 15px;
}

.word3 {
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  left: 12px;
  top: 4px;
}

.css3 {
  color: #6070ff;
  align-items: center;
  width: 45px;
  margin-right: 8px;
}

.word31 {
  background: #ebebff;
  font-family: 'Poppins', sans-serif;
  height: 24px;
  left: 61px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 4px 12px;
  letter-spacing: 0.03em;
  border-radius: 8px;
}

.html151 {
  width: 53px;
  height: 24px;
  padding: 4px 12px;
  background: #ebebff;
  margin-right: 8px;
  border-radius: 8px;
}

.word413 {
  background-color: #ebebff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  padding: 5px 0 5px 9px;
  border-radius: 8px;
  width: 50px;
}

.click24 {
  border: 1px solid #6070ff;
  color: white;
  border-radius: 5px;
  font-family: 'poppins', sans-serif;
  font-size: 20px;
  margin-top: 18px;
  max-width: 45%;
  text-align: center;
}

/* part four */

.second-section51 {
  display: block;
  margin-inline: 24px;
  margin-top: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  padding-inline: 16px;
  width: 327px;
  height: 596px;
}

.second-section51 img {
  width: 295px;
  height: 220px;
  margin-top: 16px;
}

.second-section51 h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  margin-top: 12px;
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
}

.to-do51 {
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
}

.to-do-para51 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 20px;
}

span.can51 {
  font-size: 13px;
  font-weight: 600;
  font-family: 'poppins', sans-serif;
  color: #344563;
}

.back51 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
}

.to-do51 img {
  width: 8px;
  height: 8px;
  margin: 8px 12px 0 12px;
}

.num51 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
}

.works51 {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin-top: 16px;
  align-items: center;
  width: 203px;
  height: 24px;
  top: 180px;
}

.jv51 {
  width: 89px;
  height: 24px;
  left: 114px;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
}

.word051 {
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  left: 12px;
  top: 4px;
}

.css51 {
  color: #6070ff;
  align-items: center;
  width: 45px;
  margin-right: 8px;
}

.word2151 {
  background: #ebebff;
  font-family: 'Poppins', sans-serif;
  height: 24px;
  left: 61px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 4px 12px;
  letter-spacing: 0.03em;
  border-radius: 8px;
}

.html51 {
  width: 53px;
  height: 24px;
  padding: 4px 12px;
  background: #ebebff;
  margin-right: 8px;
  border-radius: 8px;
}

.word3151 {
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.click51 {
  border: 1px solid #6070ff;
  color: white;
  border-radius: 5px;
  font-family: 'poppins', sans-serif;
  font-size: 20px;
  margin-top: 18px;
  max-width: 45%;
  text-align: center;
}

button:hover {
  background-color: #ebebff;
}

button:active {
  background-color: #6070ff;
  transform: translateY(4px);
}

/* About myself */

.last {
  width: 375px;
  height: 1263px;
  display: block;
  background-color: #fff;
}

.last h1 {
  margin: 114px 24px 0 24px;
  height: 101px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.last p {
  margin-top: 12px;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding: 0 24px 0 24px;
}

h3 {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 12px 0 0 24px;
}

.click52 {
  border: 1px solid #6070ff;
  color: #fff;
  border-radius: 5px;
  font-family: 'poppins', sans-serif;
  font-size: 20px;
  margin: 18px 0 60px 24px;
  max-width: 45%;
  text-align: center;
}

h4 {
  margin: 2px 100px 0 0;
  color: #000;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.prog1 {
  display: flex;
  justify-content: flex-start;
  background: #f7f7f9;
  border-radius: 8px;
  width: 303px;
  height: 66.72px;
}

.prog1 img {
  margin-left: 12px;
}

.prog1 h5 {
  height: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 28px;
  margin-left: 10px;
  color: #253858;
}

.prog2 {
  display: flex;
  justify-content: flex-start;
  background: #f7f7f9;
  border-radius: 8px;
  width: 303px;
  height: 66.72px;
  margin-top: 12px;
}

.prog2 img {
  margin-left: 12px;
}

.prog2 h5 {
  height: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 28px 0 0 10px;
  color: #253858;
}

.prog3 {
  display: flex;
  justify-content: flex-start;
  background: #f7f7f9;
  border-radius: 8px;
  width: 303px;
  height: 66.72px;
  margin: 12px 0 36px 0;
}

.prog3 img {
  margin-left: 12px;
}

.prog3 h5 {
  height: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 28px 0 0 10px;
  color: #253858;
}

.names22 {
  display: flex;
  margin: 17px 29px 45px;
}

.icon-container {
  width: 20px;
}

.names23 {
  display: flex;
  margin: 13px 29px 36px;
  justify-content: space-between;
}

.icon-container3 {
  width: 20px;
  margin-right: 74px;
}

.social-media48 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  list-style: none;
  margin-left: 33px;
}